
/*Navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul{
    margin-left: 19px;
}
#navbar ul li a{
    font-size: 1rem;
}
/*mountain section*/
#idea h3{
    padding-top:2px;
    font-size: 1rem;;
}
#idea h1{
    font-size: 1.6rem;
}

/*Services section*/
#services{
    flex-direction: column;
}


/*About section*/
#about p {height: 200px;
width: 324px;
font-size: 1rem;
}

/*Clients section*/
#container img{
    height: 35px;
    padding: 2px 5px;
    
}

/*Contact section*/




/*Class variable*/
.btn{
    height: 31px;
    padding: 4px;
    width: 130px;
}